.filterContainer{
    background-color: #f2f2f2;
}
.titlePage {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 4000;
  }

  .trip-title{
    font-weight: bold;
  }
  
  .titlePage h1 {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: left; 
  }
  
  .filterSection {
    padding: 20px;
  }
  
  .price {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  .bus-companies-container{
    padding: 2px;
    border-radius: 7px;
    margin: 1px;
    border: 1px solid #ccc;
    border-left: 5px;
    border-right: 7px;
  }
  .filterTitle {
    margin-top: 5px;
    flex: 1;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }

  .titlePrice {
    margin-left: auto; /* Đẩy "0 - 3.000.000đ/vé" về phía phải */
  }
  
  .timeOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .busCompanies, .busTypes {
    display: flex;
    flex-wrap: wrap;
    border: 25px;
    border-radius: 25px;
    margin-bottom: 0;
    text-align: left;
  }
  
  .timeOption {
    flex: 1;
    min-width: 100px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  .companyOption, .typeOption {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    margin-left: 2px;
    background-color: white;
    /* border: 1px solid #ccc; */
    border-bottom: 1px solid #dfd0d0; /* Add this line */
    justify-content: space-between;
    /* border-radius: 5px; */
    display: flex;
  }

  .companyOption input[type="checkbox"], .typeOption input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 10px;
    margin-left: auto;
  }
  
  .companyOption input[type="checkbox"] {
    background-image: url('../../assets/svgs/ic_select.svg');
  }
  
  .companyOption input[type="checkbox"]:checked {
    background-image: url('../../assets/svgs/ic_selected.svg');
  }
  
  .typeOption input[type="checkbox"] {
    background-image: url('../../assets/svgs/ic_select.svg');
  }
  
  .typeOption input[type="checkbox"]:checked {
    background-image: url('../../assets/svgs/ic_selected.svg');
  }

  .timeOption input[type="checkbox"] {
    display: none;
  }
  
  .selected{
    background-color: #e6e6e6;
  }
  .selectedTime{
    border-color: #0b01c8;
    border-width: 2px;
  }
  
  .priceRange {
    display: flex;
    height: 70px;
    border-radius: 5px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
  }

  .priceRange .priceLabels {
    display: flex;
    justify-content: space-between; /* Đẩy các phần tử về hai đầu hàng */
    width: 90%;
  }
  
  .priceSlider {
    width: 300px;
    flex: 1;
    margin: 19px 1px 1px;
  }
  
  .footerButtons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #ccc;
    background-color: white;
    position: sticky;
    bottom: 0;
    z-index: 1000;
  }
  
  .clearButton, .applyButton {
    padding: 10px 20px;
    font-size: 16px;
    border: 5px;
    border-radius: 5px;
  }
  
  .clearButton {
    background-color: #f2f2f2;
    width: 48%;
  }
  
  .applyButton {
    background-color: #0867d2;
    color: #fff;
    width: 50%;
  }

.imgBus {
  margin-right: 5px;
  max-height: 20px;
  max-width: 20px;
  
}
.slider {
  width: 300px;
  height: 7px;
  margin-top: 20px;
  background-color: #f2f2f2;
}

.slider .thumb {
  width: 20px;
  height: 20px;
  cursor: grab;
  background: #0867d2;
  border-radius: 50%;
  border: 2px solid #275efe;
  top: -7px
}

.track-1 {
  height: 6px;
  background-color: #0867d2;
}